

/* ----------------------------- Call to action  --------------------------------------- */

.se-call-to-action {
  width: 100%;
  display: table;
  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-size: cover !important;
  }
}
