


/* ======================================== Storezz Image ================================ */

.storezz-image {
  overflow: hidden;
&::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
}
