
/* ------------------------------------------ TEstimonials -------------------------------------- */
.testimonials-wrapper {
  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}
.testimonial {
  padding: 0 40px;
  display: grid;
}

.testimony {
  .name-position {
    text-align: center;
    display: block;
  .name {
    display: block;
    font-weight: bold;
  }
  .position {
    display: block;
    font-weight: bold;
  }
  }
  .testimony-text {
    text-align: center;
    padding: 30px 0;
  }
}
