ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

/* ------------------- Category Blocks ------------------------- */
.animation1:hover:before {
  transform: skewX(360deg);
}
.animation1:before {
  content: "";
  pointer-events: none;
  display: block;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  /* background: red; */
  top: 15px;
  left: 15px;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}

.animation2:hover:before {
  transform: scale(0.85);
}
.animation2:before {
  content: "";
  pointer-events: none;
  display: block;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  /* background: red; */
  top: 15px;
  left: 15px;
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
}

.animation3 {
  overflow: hidden;
}
.animation3:hover:before {
  transform: scaleX(1) skewX(145deg);
  background: white;
  opacity: 0.25;
}
.animation3:before {
  content: "";
  transform: scaleX(0);
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.animation4 {
  overflow: hidden;
}
.animation4:hover:before {
  transform: scaleX(0) skewX(145deg);
  background: white;
  opacity: 0.25;
}
.animation4:before {
  content: "";
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.se-category-block {
  display: grid;
  gap: 15px;
  height: 500px;
  position: relative;
}
.se-category-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.se-category-block .se-product-cat .se-cat-bg {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.se-category-block .se-product-cat .se-cat-link {
  position: absolute;
  background: black;
  color: white;
  display: block;
  padding: 5px 10px;
  bottom: 15px;
}
.se-category-block .se-product-cat .se-cat-link.top-left {
  top: 15px;
  bottom: auto;
  right: auto;
  left: 15px;
}
.se-category-block .se-product-cat .se-cat-link.top-right {
  top: 15px;
  bottom: auto;
  right: 15px;
  left: auto;
}
.se-category-block .se-product-cat .se-cat-link.bottom-left {
  top: auto;
  bottom: 15px;
  right: auto;
  left: 15px;
}
.se-category-block .se-product-cat .se-cat-link.bottom-right {
  top: auto;
  bottom: 15px;
  right: 15px;
  left: auto;
}
.se-category-block .se-product-cat.animation1:hover:before {
  transform: skewX(360deg);
}
.se-category-block .se-product-cat.animation1:before {
  content: "";
  pointer-events: none;
  display: block;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  /* background: red; */
  top: 15px;
  left: 15px;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}
.se-category-block .se-product-cat.animation2:hover:before {
  transform: scale(0.85);
}
.se-category-block .se-product-cat.animation2:before {
  content: "";
  pointer-events: none;
  display: block;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  /* background: red; */
  top: 15px;
  left: 15px;
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
}
.se-category-block .se-product-cat.animation3 {
  overflow: hidden;
}
.se-category-block .se-product-cat.animation3:hover:before {
  transform: scaleX(1) skewX(145deg);
  background: white;
  opacity: 0.25;
}
.se-category-block .se-product-cat.animation3:before {
  content: "";
  transform: scaleX(0);
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.se-category-block .se-product-cat.animation4 {
  overflow: hidden;
}
.se-category-block .se-product-cat.animation4:hover:before {
  transform: scaleX(0) skewX(145deg);
  background: white;
  opacity: 0.25;
}
.se-category-block .se-product-cat.animation4:before {
  content: "";
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.se-category-block .se-cat-link {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  color: black;
  display: block;
}
.se-category-block.se-category-block1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.se-category-block.se-category-block1 .se-product-cat {
  position: relative;
  overflow: hidden;
}
.se-category-block.se-category-block1 .se-product-cat1 {
  grid-area: 1/1/3/3;
}
.se-category-block.se-category-block2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.se-category-block.se-category-block2 .se-product-cat {
  position: relative;
  overflow: hidden;
}
.se-category-block.se-category-block2 .se-product-cat5 {
  grid-area: 1/3/3/5;
}
.se-category-block.se-category-block3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.se-category-block.se-category-block3 .se-product-cat {
  position: relative;
  overflow: hidden;
}
.se-category-block.se-category-block3 .se-product-cat1 {
  grid-area: 1/1/3/3;
}
.se-category-block.se-category-block3 .se-product-cat2 {
  grid-area: 1/3/2/5;
}
.se-category-block.se-category-block4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.se-category-block.se-category-block4 .se-product-cat {
  position: relative;
  overflow: hidden;
}
.se-category-block.se-category-block4 .se-product-cat1 {
  grid-area: 1/1/3/3;
}
.se-category-block.se-category-block4 .se-product-cat4 {
  grid-area: 2/3/3/5;
}
.se-category-block.se-category-block5 {
  grid-template-columns: 1fr 1fr;
}
.se-category-block.se-category-block5 .se-product-cat {
  position: relative;
  overflow: hidden;
}
.se-category-block.se-category-block6 {
  grid-template-columns: 1fr 1fr 1fr;
}
.se-category-block.se-category-block6 .se-product-cat {
  position: relative;
  overflow: hidden;
}
.se-category-block.se-category-block7 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.se-category-block.se-category-block7 .se-product-cat {
  position: relative;
  overflow: hidden;
}

/* ------------------------------------------ TEstimonials -------------------------------------- */
.testimonials-wrapper h2 {
  text-align: center;
}
.testimonials-wrapper h3 {
  text-align: center;
}

.testimonial {
  padding: 0 40px;
  display: grid;
}

.testimony .name-position {
  text-align: center;
  display: block;
}
.testimony .name-position .name {
  display: block;
  font-weight: bold;
}
.testimony .name-position .position {
  display: block;
  font-weight: bold;
}
.testimony .testimony-text {
  text-align: center;
  padding: 30px 0;
}

/* ----------------------------- Owl Carousel --------------------------------------- */
.owl-dots {
  text-align: center;
}

button.owl-dot {
  width: 10px;
  height: 10px !important;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 4px;
  transition: all 0.5s ease;
}

button.owl-dot:last-child {
  margin-right: 0;
}

button.owl-dot.active {
  width: 20px;
  border-radius: 5px;
}

.owl-nav.disabled {
  display: block !important;
}

button.owl-prev, button.owl-next {
  background: black !important;
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 30px) !important;
}
button.owl-prev i, button.owl-next i {
  color: white;
}

button.owl-prev {
  left: 0;
}

button.owl-next {
  right: 0;
}

/*# sourceMappingURL=storezz-elements.css.map */
