ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

/* ------------------- Category Blocks ------------------------- */


.animation1 {
  &:hover:before {
    transform: skewX(360deg);
  }
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    /* background: red; */
    top: 15px;
    left: 15px;
    border: 2px solid white;
    transition: all .5s ease-in-out;
  }
}

.animation2 {
  &:hover:before {
    transform: scale(0.85);
  }
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    /* background: red; */
    top: 15px;
    left: 15px;
    border: 2px solid white;
    transition: all .2s ease-in-out;
  }
}

.animation3 {
  overflow: hidden;
  position: relative;
  &:hover {
    &:before {
      overflow: hidden;
        transform: scaleX(1) skewX(145deg);
        background: white;
        opacity: 0.25;
      }
  }

  &:before {
    content: "";
    transform: scaleX(0);
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    opacity: 0;
  }
}

.animation4 {
  overflow: hidden;
  &:hover {
    &:before {
        transform: scaleX(0) skewX(145deg);
        background: white;
        opacity: 0.25;
      }
  }
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    opacity: 0;
  }
}


.se-category-block {
    display: grid;
    gap: 15px;
    height: 500px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .se-product-cat {
      .se-cat-bg {
        display: block;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
      }
      .se-cat-link {
        &.top-left {
          top: 15px;
          bottom: auto;
          right: auto;
          left: 15px;
        }
        &.top-right {
          top: 15px;
          bottom: auto;
          right: 15px;
          left: auto;
        }
        &.bottom-left {
          top: auto;
          bottom: 15px;
          right: auto;
          left: 15px;
        }
        &.bottom-right {
          top: auto;
          bottom: 15px;
          right: 15px;
          left: auto;
        }
        position: absolute;
        background: black;
        color: white;
        display: block;
        padding: 5px 10px;
        bottom: 15px;
      }

      &.animation1 {
        &:hover:before {
          transform: skewX(360deg);
        }
        &:before {
          content: "";
          pointer-events: none;
          display: block;
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          position: absolute;
          /* background: red; */
          top: 15px;
          left: 15px;
          border: 2px solid white;
          transition: all .5s ease-in-out;
        }
      }

      &.animation2 {
        &:hover:before {
          transform: scale(0.85);
        }
        &:before {
          content: "";
          pointer-events: none;
          display: block;
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          position: absolute;
          /* background: red; */
          top: 15px;
          left: 15px;
          border: 2px solid white;
          transition: all .2s ease-in-out;
        }
      }

      &.animation3 {
        overflow: hidden;
        &:hover {
          &:before {
              transform: scaleX(1) skewX(145deg);
              background: white;
              opacity: 0.25;
            }
        }

        &:before {
          content: "";
          transform: scaleX(0);
          pointer-events: none;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .5s ease-in-out;
          opacity: 0;
        }
      }

      &.animation4 {
        overflow: hidden;
        &:hover {
          &:before {
              transform: scaleX(0) skewX(145deg);
              background: white;
              opacity: 0.25;
            }
        }
        &:before {
          content: "";
          pointer-events: none;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .5s ease-in-out;
          opacity: 0;
        }
      }
    }
    .se-cat-link {
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      color: black;
      display: block;
    }
  &.se-category-block1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat1 {
      grid-area: 1 / 1 / 3 / 3;
    }
  }

  &.se-category-block2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat5 {
      grid-area: 1/3/3/5;
    }
  }

  &.se-category-block3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .se-product-cat2 {
      grid-area: 1 / 3 / 2 / 5;
    }
  }

  &.se-category-block4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .se-product-cat4 {
      grid-area: 2 / 3 / 3 / 5;
    }
  }

  &.se-category-block5 {
    grid-template-columns: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
  }

  &.se-category-block6 {
    grid-template-columns: 1fr 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
  }

  &.se-category-block7 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
  }
}

/* ------------------------------------------ TEstimonials -------------------------------------- */
.testimonials-wrapper {
  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}
.testimonial {
  padding: 0 40px;
  display: grid;
}

.testimony {
  .name-position {
    text-align: center;
    display: block;
  .name {
    display: block;
    font-weight: bold;
  }
  .position {
    display: block;
    font-weight: bold;
  }
  }
  .testimony-text {
    text-align: center;
    padding: 30px 0;
  }
}

/* ----------------------------- Owl Carousel --------------------------------------- */
.owl-dots {
  text-align: center;
}
button.owl-dot {
    width: 10px;
    height: 10px !important;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 4px;
    transition: all 0.5s ease;
}

 button.owl-dot:last-child {
    margin-right: 0;
}

button.owl-dot.active {
    width: 20px;
    border-radius: 5px;
}

.owl-nav.disabled {display: block !important}

button.owl-prev, button.owl-next {
  background: black !important;
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 30px) !important;
  i {
    color: white;
  }
}

button.owl-prev {
  left: 0;
}

button.owl-next {
 right: 0;
}

/* ------------------------ Product List-------------------------------------------- */

.se-product-grid {
  display: grid;
}

/* ------------------------ Product List-------------------------------------------- */

.se-product-list {
  display: block;
  li {
    clear: both;
    a {
      float: left;
    }
  }
}

/* ----------------------------- Call to action  --------------------------------------- */

.se-call-to-action {
  width: 100%;
  display: table;
  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-size: cover !important;
  }
}

/* ----------------------------------- News Grid ---------------------------------*/

.se-post-grid {
  .big-wrapper {
    display:grid;
    column-gap: 15px;
  }
}

/* ----------------------------------- News-block --------------------------------- */

.big-wrapper {

  display: grid;


  .thumbnail, .thumbnail img {
    overflow: hidden;
  }

  .widget-image {
    overflow: hidden;
  }

  .category {
    margin-bottom: 5px;
  }
  .news-title {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 20px;
    .fa {
      font-size: 16px;
      margin-right: 3px;
    }
  }
  .author {
    font-size: 13px;
    margin-top: 4px;
  }
  .author-avatar img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }
}


.awesomesauce-post-block {
  &.style-1,   &.style-2,   &.style-3 {
    .wrapper {
      &--big {
        .description {
          position:relative;
          h4, p {
            color: #fff;
          }
          .description-inner {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 100px 10px 10px 10px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
          }
        }
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
@media (max-width: 575px)  {
  .awesomesauce-post-block  {
    &.style-1 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;grid-auto-rows: minmax(min-content, max-content);
      }
      .wrapper {
        &--big {
          position:relative;
          grid-column-start: 1;
          grid-column-end: 3;
          height: 250px;
          .thumbnail>a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
    }
    &.style-2, &.style-3 {
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 1;grid-column-end:3;
          height: 250px;
          a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
      .big-wrapper {
        grid-template-columns:1fr 1fr;grid-auto-rows: minmax(min-content, max-content);
      }
    }
    &.style-4 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          position:relative;
          a.thumbnail {
            display:block;background-size:cover;height:100%;
          }
        }
      }
    }
    &.style-5 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &--small {
          .thumbnail {
            width:200px;float:left;margin-right:10px;
          }
        }
      }
    }

    &.style-6 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
          display: grid;
          grid-template-columns: 1fr;
          grid-column-gap: 15px;
          position:relative;
          a {
            display:block;background-size:cover !important;
          }
        }
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px)  {
  .awesomesauce-post-block  {
    &.style-1 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;grid-auto-rows: minmax(min-content, max-content);
      }
      .wrapper {
        &--big {
          position:relative;
          grid-column-start: 1;
          grid-column-end: 3;
          height: 530px;
          .thumbnail>a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
    }
    &.style-2, &.style-3 {
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 1;grid-column-end:3;
          height: 530px;
          a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
      .big-wrapper {
        grid-template-columns:1fr 1fr;grid-auto-rows: minmax(min-content, max-content);
      }
    }
    &.style-4 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          position:relative;
          a.thumbnail {
            display:block;background-size:cover;height:100%;
          }
        }
      }
    }
    &.style-5 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &--small {
          .thumbnail {
            width:200px;float:left;margin-right:10px;
          }
        }
      }
    }

    &.style-6 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
          display: grid;
          grid-template-columns: 1fr;
          grid-column-gap: 15px;
          position:relative;
          a {
            display:block;background-size:cover !important;
          }
        }
      }
    }
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .awesomesauce-post-block  {
    &.style-1 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;grid-auto-rows: minmax(min-content, max-content);
      }
      .wrapper {
        &--big {
          position:relative;
          grid-column-start: 1;
          grid-column-end: 3;
          height: 530px;
          .thumbnail>a {
            display:block;background-size:cover !important;height:100%;
          }
        }
        &--small {
          display: grid;
          grid-template-columns: 145px auto;
          grid-column-gap: 10px;
        }
      }
    }
    &.style-2, &.style-3 {
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 1;grid-column-end: 5;
          height: 530px;
          a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
      .big-wrapper {
        grid-template-columns:1fr 1fr 1fr 1fr;grid-auto-rows: minmax(min-content, max-content);
      }
    }
    &.style-4 {
      .big-wrapper {
        grid-template-columns:1fr 1fr 1fr 1fr;grid-template-rows:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 3;grid-column-end: 4;
          &:first-of-type {
            grid-column-start: 1;grid-column-end:3;
          }
          &:nth-of-type(2) {
            grid-column-start: 3;grid-column-end:5;
          }
          a.thumbnail {
            display:block;background-size:cover;height:100%;
          }
        }
      }
    }
    &.style-5 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &--small {
          .thumbnail {
            width:200px;float:left;margin-right:10px;
          }
        }
      }
    }

    &.style-6 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
          display: grid;
          grid-template-columns: 1fr;
          grid-column-gap: 15px;
          position:relative;
          a {
            display:block;background-size:cover !important;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .awesomesauce-post-block {
    &.style-1 {
      .big-wrapper {
        grid-template-columns:5fr 4fr;grid-auto-rows: minmax(min-content, max-content);
      }
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:5;position:relative;
          .thumbnail>a {
            display:block;background-size:cover !important;height:100%;
          }
        }
        &--small {
          display: grid;
          grid-template-columns: 145px auto;
          grid-column-gap: 10px;
        }
      }
    }
    &.style-2 {
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 1;grid-column-end: 3;
          a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
      .big-wrapper {
        grid-template-columns:11fr 11fr 8fr 8fr;grid-auto-rows: minmax(min-content, max-content);
      }
    }
    &.style-3 {
      .big-wrapper {
        grid-template-columns:8fr 8fr 11fr 11fr;grid-auto-rows: minmax(min-content, max-content);
      }
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 3;grid-column-end: 5;
          .thumbnail>a {
            display:block;background-size:cover !important;height:100%;
          }
        }
      }
    }
    &.style-4 {
      .big-wrapper {
        grid-template-columns:1fr 1fr 1fr 1fr;grid-template-rows:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-row-start:1;grid-row-end:3;position:relative;grid-column-start: 3;grid-column-end: 4;
          &:first-of-type {
            grid-column-start: 1;grid-column-end:3;
          }
          &:nth-of-type(2) {
            grid-column-start: 3;grid-column-end:5;
          }
          a.thumbnail {
            display:block;background-size:cover;height:100%;
          }
        }
      }
    }
    &.style-5 {
      .big-wrapper {
        grid-template-columns:1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &--small {
          .thumbnail {
            width:200px;float:left;margin-right:10px;
          }
        }
      }
    }

    &.style-6 {
      .big-wrapper {
        grid-template-columns:1fr 1fr 1fr 1fr;
      }
      .wrapper {
        &--big {
          grid-column-start: 1;
          grid-column-end: 5;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 15px;
          position:relative;
          a {
            display:block;background-size:cover !important;
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

/* ===================================== News List ================================== */

.se-post-list {
  .thumbnail {
    border-radius: 0px !important;
    overflow: visible !important;
  }
  .big-wrapper {
    .wrapper {
      &--big {
        display:grid;grid-template-columns: 33fr 66fr;column-gap: 10px;
      }
    }
  }
}
