/* ------------------- Category Blocks ------------------------- */

.se-category-block {
    display: grid;
    gap: 15px;
    height: 500px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .se-product-cat {
      div {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
      }
    }
  &.se-category-block1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat1 {
      grid-area: 1 / 1 / 3 / 3;
    }
  }

  &.se-category-block2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat5 {
      grid-area: 1/3/3/5;
    }
  }

  &.se-category-block3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .se-product-cat2 {
      grid-area: 1 / 3 / 2 / 5;
    }
  }

  &.se-category-block4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .se-product-cat {
      position: relative;
      overflow: hidden;
    }
    .se-product-cat1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .se-product-cat4 {
      grid-area: 2 / 3 / 3 / 5;
    }
  }
}
