ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

/* ---------------- animations --------------------------------- */


.animation::before {
  z-index: 1;
}

.animation1 {
  &:hover:before {
    transform: skewX(360deg);
  }
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    /* background: red; */
    top: 15px;
    left: 15px;
    border: 2px solid white;
    transition: all .5s ease-in-out;
    display: inline-block;
  }
}

.animation2 {
  &:hover:before {
    transform: scale(0.85);
  }
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    /* background: red; */
    top: 15px;
    left: 15px;
    border: 2px solid white;
    transition: all .2s ease-in-out;
  }
}

.animation3 {
  overflow: hidden;
  position: relative;
  &:hover {
    &:before {
      overflow: hidden;
        transform: scaleX(1) skewX(145deg);
        background: white;
        opacity: 0.25;
      }
  }

  &:before {
    content: "";
    transform: scaleX(0);
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    opacity: 0;
  }
}

.animation4 {
  overflow: hidden;
  &:hover {
    &:before {
        transform: scaleX(0) skewX(145deg);
        background: white;
        opacity: 0.25;
      }
  }
  &:before {
    content: "";
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    opacity: 0;
  }
}

/* ----------------------------- Owl Carousel --------------------------------------- */
.owl-dots {
  text-align: center;
}
button.owl-dot {
    width: 10px;
    height: 10px !important;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 4px;
    transition: all 0.5s ease;
}

 button.owl-dot:last-child {
    margin-right: 0;
}

button.owl-dot.active {
    width: 20px;
    border-radius: 5px;
}

// .owl-nav.disabled {display: block !important}

button.owl-prev, button.owl-next {
  background: black !important;
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 30px) !important;
  i {
    color: white;
  }
}

button.owl-prev {
  left: 0;
}

button.owl-next {
 right: 0;
}
